In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('state_tax.xlsx', engine='openpyxl')

In [3]:
df = df[['State', 'Rates', 'Brackets', 'Rates.1', 'Brackets.1']]

In [4]:
df = df.dropna()

In [5]:
df = df.set_axis(['State', 'Single Rate', 'Single Bracket', 'Married Rate', 'Married Bracket'], axis=1, inplace=False)
print(df)

               State  Single Rate  Single Bracket  Married Rate  \
0            Alabama       0.0200             0.0        0.0200
1            Alabama       0.0400           500.0        0.0400
2            Alabama       0.0500          3000.0        0.0500
5            Arizona       0.0259             0.0        0.0259
6            Arizona       0.0334         27272.0        0.0334
..               ...          ...             ...           ...
240  Washington D.C.       0.0600         10000.0        0.0600
241  Washington D.C.       0.0650         40000.0        0.0650
242  Washington D.C.       0.0850         60000.0        0.0850
243  Washington D.C.       0.0875        350000.0        0.0875
244  Washington D.C.       0.0895       1000000.0        0.0895

     Married Bracket
0                0.0
1             1000.0
2             6000.0
5                0.0
6            54544.0
..               ...
240          10000.0
241          40000.0
242          60000.0
243         350000.0
244        1000000.0

[189 rows x 5 columns]

In [6]:
df.to_csv('state_taxes')

# State tax data function

In [37]:
def state_tax(state, income, married):
    df = pd.read_csv('state_taxes')
    df2 = df[df['State'] == state]
    remaining_income = 0
    if(married):
        for i in reversed(range(len(df2))):
            if(income > df2.iloc[i]['Married Bracket'] / 2):
                        if(i == len(df2) - 1):
                            remaining_income += (income - df2.iloc[i]['Married Bracket'] / 2) * (1 - df2.iloc[i]['Married Rate'])
                        else:
                            remaining_income += ((min(income, df2.iloc[i + 1]['Married Bracket'] / 2) - df2.iloc[i]['Married Bracket'] / 2)  * (1 - df2.iloc[i]['Married Rate']))
    else:
        for i in reversed(range(len(df2))):
            if(income > df2.iloc[i]['Single Bracket']):
                        if(i == len(df2) - 1):
                            remaining_income += (income - df2.iloc[i]['Single Bracket']) * (1 - df2.iloc[i]['Single Rate'])
                        else:
                            remaining_income += ((min(income, df2.iloc[i + 1]['Single Bracket']) - df2.iloc[i]['Single Bracket'])  * (1 - df2.iloc[i]['Single Rate']))
    return remaining_income

In [39]:
print(state_tax('Washington D.C.', 100000, False))

93100.0